<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Angular 2: New Hope</title>

    <meta name="description" content="Presentation slides about Angualr 2">
    <meta name="author" content="Evgeny Gusev">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/night.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/ir-black.css">

    <link rel="stylesheet" href="css/custom.css">

    <!-- Printing and PDF exports -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jqcloud2/dist/jqcloud.js"></script>
    <link rel="stylesheet" href="bower_components/jqcloud2/dist/jqcloud.css">

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>

<div class="reveal">

    <div class="slides">

        <section data-background="img/wrike-bg.jpg">
            <h1 style="padding-top: 100px">Angular 2</h1>
            <br><br>
            <h2 style="letter-spacing: 2px">Знакомый герой, новые надежды</h2>
        </section>

        <section>
            <section data-transition="fade-out"><img src="img/sw.jpg"/></section>
            <section data-transition="fade-out"><img src="img/sw+react.jpg"/></section>
            <section data-transition="fade-out"><img src="img/sw+react+poly.jpg"/></section>
            <section data-transition="fade-out"><img src="img/sw+react+poly+a2.jpg"/></section>
        </section>

        <section data-state="jqCloudInit">
            <h3>Learning curve</h3>
            <!--Used jQCloud for this slide-->
            <div id="words" style="display: inline-block; width: 600px; height: 600px;"></div>

            <div class="fragment" data-fragment-index="0" data-first="true"
                 data-words='[{"text":"$scope", "weight": 25}]'></div>
            <div class="fragment" data-fragment-index="1"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Directive", "weight": 20}]'></div>
            <div class="fragment" data-fragment-index="2"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Controller", "weight": 21},{"text":"Directive", "weight": 20},{"text":"Filter", "weight": 19},{"text":"Service", "weight": 17}]'></div>
            <div class="fragment" data-fragment-index="3"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Controller", "weight": 21},{"text":"Directive", "weight": 20},{"text":"Filter", "weight": 19},{"text":"Service", "weight": 17},{"text":"$digest", "weight": 15},{"text":"$apply", "weight": 14},{"text":"Data binding", "weight": 11}]'></div>
            <div class="fragment" data-fragment-index="4"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Controller", "weight": 21},{"text":"Directive", "weight": 20},{"text":"Filter", "weight": 19},{"text":"Service", "weight": 17},{"text":"$digest", "weight": 15},{"text":"$apply", "weight": 14},{"text":"Data binding", "weight": 11},{"text":"Dependency injection", "weight": 9},{"text":"Expressions", "weight": 8}]'></div>
            <div class="fragment" data-fragment-index="4"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Controller", "weight": 21},{"text":"Directive", "weight": 20},{"text":"Filter", "weight": 19},{"text":"Service", "weight": 17},{"text":"$digest", "weight": 15},{"text":"$apply", "weight": 14},{"text":"Data binding", "weight": 11},{"text":"Dependency injection", "weight": 9},{"text":"Expressions", "weight": 8},{"text":"Injector", "weight": 7},{"text":"$eval", "weight": 6},{"text":"$watch", "weight": 5}]'></div>
            <div class="fragment" data-fragment-index="5" data-last="true"
                 data-words='[{"text":"$scope", "weight": 25},{"text":"Module", "weight": 22.5},{"text":"Controller", "weight": 21},{"text":"Directive", "weight": 20},{"text":"Filter", "weight": 19},{"text":"Service", "weight": 17},{"text":"$digest", "weight": 15},{"text":"$apply", "weight": 14},{"text":"Data binding", "weight": 11},{"text":"Dependency injection", "weight": 9},{"text":"Expressions", "weight": 8},{"text":"Injector", "weight": 7},{"text":"$eval", "weight": 6},{"text":"$watch", "weight": 5}]'></div>
        </section>

        <section>
            <section>
                <h3>Data Binding</h3>
            </section>
            <section>
                <img src="img/one-way-db.png">
            </section>
            <section>
                <img src="img/two-way-db.png">
            </section>
            <section data-transition="fade-out">
                <img src="img/vaider-fb.png">
            </section>
            <section data-transition="fade-out">
                <img src="img/vaider-fb-name.png">
            </section>
            <section>
			    <pre class="highlight html">
&lt;div class='name'&gt;{{author.name}}&lt;/div&gt;
                </pre>
            </section>
            <section>
			    <pre class="highlight js">
$scope.$watch(
    "author.name",
    function (newValue, oldValue) {
       <span class="fragment fade-out" data-fragment-index="1">// some work</span>
       <span class="fragment" data-fragment-index="2">if(!newValue) {
           author.status = "unknown";
       }
       </span>
    }
);
<span class="fragment" data-fragment-index="0">//$scope.$$watchers.push(...</span>
                </pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Scope</h3>
            </section>
            <section>
			    <pre class="highlight html">
&lt;div ng-init=&quot;<span class="fragment highlight-current-red">phone = 02</span>&quot;&gt; {{ phone }}&lt;/div&gt;
&lt;div ng-if=&quot;true&quot;&gt;
	&lt;button ng-click=&quot;phone = 911&quot;&gt;
		change phone
	&lt;/button&gt;
&lt;/div&gt;
    			</pre>
            </section>
            <section cass="stretch">
			    <pre class="highlight html">
&lt;div ng-init=&quot;<span class="fragment highlight-current-green">phone = {value: 02}</span>&quot;&gt;
        {{phone.value}}
&lt;/div&gt;

&lt;div ng-if=&quot;true&quot;&gt;
    &lt;button ng-click=”phone.value = 911&quot;&gt;
        change phone
    &lt;/button&gt;
&lt;/div&gt;
    			</pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Dependency injection</h3>
            </section>
            <section>
			    <pre class="highlight js">
function MyController($scope, $window) { // … }
    			</pre>
            </section>
            <section>
			    <pre class="highlight js">
someModule.controller(‘MyController’,
	[‘$scope’,function($scope) { }]);

//or

MyController.$inject = [‘$scope’, ‘$window’];
    			</pre>
            </section>
        </section>

        <section>
            <h2>Angular 2</h2>
            <img src="img/angular2.png" class="plain logo">
        </section>

        <section>
            <section>
                <h3>Components</h3>
            </section>
            <section class="stretch">
                <h4>Before</h4>
			    <pre class="highlight js">
angular.module('App', [])
.directive('hello-world', function () {
    return {
        restrict: 'E',
        template: '<span>Hello {{name}}</span>',
        controller: function ($scope) {
            $scope.name = 'World';
        }
    }
})    			</pre>
            </section>
            <section class="stretch">
                <h4>After</h4>
			    <pre class="highlight js">
import { Component } from 'angular2/core';

@Component({
    selector: 'hello-world',
    template: 'Hello {{name}}!'
})
export class AppComponent {
    constructor() {
        this.name = 'World!';
    }
}
    			</pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Binding</h3>
            </section>
            <section>
			    <pre class="highlight js">
&lt;todo-cmp [model]=&quot;myTodo&quot;&gt;&lt;/todo-cmp&gt;
				</pre>
			  <pre class="highlight js fragment">
&lt;todo-cmp [model]=&quot;todo&quot;
    (complete)=&quot;onCompletingTodo(todo)&quot;&gt;
&lt;/todo-cmp&gt;
			  </pre>
            </section>
            <section>
                    <pre class="highlight js">
@Component({selector: 'todo-cmp'})
class TodoCmp {
    @Input() model;
    @Output() complete = new EventEmitter();

    onCompletedButton() {
        // this fires an event
        this.complete.next();
    }
}			        </pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Two-way Data Binding</h3>
            </section>
            <section>
                <img class="stretch" src="img/han-smile.gif">
            </section>
            <section>
			    <pre class="highlight js">
&lt;input [ngModel]=&quot;todo.text&quot;
	(ngModelChange)=&quot;todo.text=$event&quot;&gt;
&lt;/input&gt;
				</pre>
            </section>
            <section>
	    <pre class="highlight js">
&lt;input [(ngModel)]=&quot;todo.text&quot;&gt;&lt;/input&gt;
		</pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Data flow</h3>
            </section>
            <section>
                <img class="stretch" src="img/ang2-change-detect.png">
				<span class="slidenote">Many thanks to <a
                        href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Victor Savkin</a> for this picture</span>
            </section>
            <section>
                <img class="stretch" src="img/ang2-change-detect-immutable.png">
				<span class="slidenote">Many thanks to <a
                        href="http://victorsavkin.com/post/110170125256/change-detection-in-angular-2">Victor Savkin</a> for this picture</span>
            </section>
        </section>

        <section>
            <section>
                <h3>Scope</h3>
            </section>
            <section>
                <img class="stretch" src="img/luke-no.gif">
            </section>
            <section>
			    <pre class="highlight js">
import { Component } from 'angular2/core';

@Component({
    selector: 'my-app',
    template: 'Hello {{name}}!
        &lt;button (click)=&quot;clicked()&quot;&gt;
		    Change Name
        &lt;/button&gt;'
})
export class AppComponent {
    clicked(event) {
        this.name = 'UserName';
    }
}
				</pre>
            </section>
            <section>
                <img class="stretch" src="img/chew-deal-with.gif">
            </section>
        </section>

        <section>
            <section>
                <h3>Zones</h3>
            </section>
            <section>
				  <pre class="highlight js">
var myZone = zone.fork({
    beforeTask: function () {},
    afterTask: function () {},
    // many other handlers
});
myZone.run(function () {
    // woo!
});
				</pre>
            </section>
            <section>
				  <pre class="highlight js">
zone.fork().run(function () {
//pseudo code, actually it`s more complicated
//...
    clicked(event) {
        this.name = 'UserName';
    }
//angular change detection
});
				</pre>
            </section>
        </section>

        <section>
            <section>
                <h3>Dependency injection</h3>
            </section>
            <section>
			    <pre class="highlight js">
class NameService {
    constructor() {
        this.name = 'UserName';
    }

    getName() {
        return this.name;
    }
}				</pre>
            </section>
            <section>
                <pre class="highlight js" style="font-size: 0.9em !important;">
class App {
    constructor(@Inject(NameService) NameService) {
        this.name = NameService.getName();
    }
}
			  </pre>
            </section>
            <section>
                <img class="stretch" src="img/deathstar-explosion.gif">
            </section>
        </section>

        <section>
            <img src="img/angular2.png" class="plain logo block">
            <h2 class="block" style="margin: 0 70px">vs</h2>
            <img src="img/aurelia.png" class="plain logo block">
        </section>

        <section>
            <section>
                <img src="img/angular2.png" class="plain logo block">
                <h2 class="block" style="margin: 0 70px">vs</h2>
                <img src="img/polymer.png" class="plain logo block">
            </section>
            <section>
                <table class="stretch comparsion">
                    <thead>
                    <tr>
                        <th></th>
                        <th><img src="img/angular2.png" class="plain logo small block"></th>
                        <th><img src="img/polymer.png" class="plain logo small block"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Простота</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/trooper.png" class=" block plain icon"/>
                                <img src="img/trooper.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
					<pre class="highlight js">
&lt;dom-module id=&quot;hello-world&quot;&gt;
    &lt;template&gt;
        &lt;p&gt;Hello {{name}}&lt;/p&gt;
    &lt;/template&gt;
&lt;/dom-module&gt;
&lt;script&gt;
Polymer({
    is: &#39;hello-world&#39;,
    properties: {
        who: &#39;World&#39
    }
});
&lt;/script&gt;
			  </pre>
            </section>
            <section>
                <table class="stretch comparsion">
                    <thead>
                    <tr>
                        <th></th>
                        <th><img src="img/angular2.png" class="plain logo small block"></th>
                        <th><img src="img/polymer.png" class="plain logo small block"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="legend">
                            <span>Простота</span>
                        </td>
                        <td>
                          <span>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span>
                                <img src="img/trooper.png" class=" block plain icon"/>
                                <img src="img/trooper.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Функциональность</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/c3po.png" class=" block plain icon"/>
                                <img src="img/c3po.png" class=" block plain icon"/>
                                <img src="img/c3po.png" class=" block plain icon"/>
                                <img src="img/c3po.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Удобство</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper-half.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/deadstar.png" class=" block plain icon"/>
                                <img src="img/deadstar.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </section>

        <section>
            <section>
                <img src="img/angular2.png" class="plain logo block">
                <h2 class="block" style="margin: 0 70px">vs</h2>
                <img src="img/react.png" class="plain logo block">
            </section>
            <section>
                <table class="stretch comparsion">
                    <thead>
                    <tr>
                        <th></th>
                        <th><img src="img/angular2.png" class="plain logo small block"></th>
                        <th><img src="img/react.png" class="plain logo small block"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Простота</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section>
					<pre class="highlight js">
import React from 'react';

class HelloWorld extends React.Component {
    render() {
        return &lt;p&gt;Hello, world!&lt;/p&gt;;
    }
}

export default HelloWorld;
			  </pre>
            </section>
            <section>
                <table class="stretch comparsion">
                    <thead>
                    <tr>
                        <th></th>
                        <th><img src="img/angular2.png" class="plain logo small block"></th>
                        <th><img src="img/react.png" class="plain logo small block"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="legend">
                            <span>Простота</span>
                        </td>
                        <td>
                          <span>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                                <img src="img/r2d2.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Функциональность</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/trooper.png" class=" block plain icon"/>
                                <img src="img/trooper.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="legend">
                            <span class="fragment">Удобство</span>
                        </td>
                        <td>
                          <span class="fragment">
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper.png" class=" block plain icon"/>
                              <img src="img/trooper-half.png" class=" block plain icon"/>
                          </span>
                        </td>
                        <td>
                            <span class="fragment">
                                <img src="img/deadstar.png" class=" block plain icon"/>
                                <img src="img/deadstar.png" class=" block plain icon"/>
                                <img src="img/deadstar.png" class=" block plain icon"/>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <section data-background="img/sw-space-battle-bg.jpg">
            </section>
            <section data-background="img/sw-space-battle-bg-blur.jpg">
                <span class="block" style="width: 45%">
                    <img src="img/angular2.png" class="plain logo small block" style="padding-bottom: 50px">
                    <h3 class="fragment bordered" data-fragment-index="0">Ng2 syntax</h3><br>
                    <h3 class="fragment bordered" data-fragment-index="2">TS, Dart</h3><br>
                    <h3 class="fragment bordered" data-fragment-index="4">Single maintainer</h3><br>
                </span>
                <h2 class="block bordered">vs</h2>
                <span class="block" style="width: 45%">
                    <img src="img/react.png" class="plain logo small block" style="padding-bottom: 50px">
                    <h3 class="fragment bordered" data-fragment-index="1">jsx</h3><br>
                    <h3 class="fragment bordered" data-fragment-index="3">JS</h3><br>
                    <h3 class="fragment bordered" data-fragment-index="5">Community</h3><br>
                </span>
            </section>
        </section>

        <section>
            <h2>Demo</h2>
            <a href="https://bunopus-angular-vanilla.herokuapp.com/" data-preview-link>Vanilla Angular Directive</a><br>
            <!--<a href="https://bunopus-angular-react.herokuapp.com/" data-preview-link>Angular Directive with React</a><br>-->
            <a href="https://bunopus-angular2.herokuapp.com/" data-preview-link>Angular 2</a><br>

            <span class="slidenote" style="padding-top: 100px">many thanks to <a href="https://github.com/djsmith42">Dave Smith</a></span>
        </section>

        <section>
            <h1>Summary</h1>
        </section>

        <section style="text-align: left;" class="stretch">
            <style>
                img.small-logo {
                    width: 50px
                }
            </style>
            <p style="line-height: 70px; font-size: 1.8em">
                - Follow me: <a href="https://twitter.com/bunopus">@bunopus</a> <br>
                - <img src="img/vk-social.png" class="plain block small-logo"/>
                <img src="img/facebook-social.png" class="plain block small-logo"/>
                <img src="img/habr-social.png" class="plain block small-logo"/> : <a href="https://www.wrike.com/">@wriketeam</a><br>
                - Slides & info: <a href="https://goo.gl/bzWco7">https://goo.gl/bzWco7</a>
            </p>
        </section>

        <section>
            <h2>May the <img src="img/angular2.png" class="logo plain block" style="width: 70px;"/><br>be with you</h2>
            <img src="img/yoda.png" class="plain"/>
        </section>

        <section>
            <h1>Questions</h1>
        </section>

    </div>

</div>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>

<script>

    // Full list of configuration options available at:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
			{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
			{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/highlight/highlight.js', async: true, callback: function() {
                [].forEach.call(document.querySelectorAll('.highlight, pre code'), function (v, i) {
                    hljs.highlightBlock(v);
                });
            }
            },
            {src: 'plugin/zoom-js/zoom.js', async: true},
            {src: 'plugin/notes/notes.js', async: true}
        ]
    });

    //<editor-fold desc="jqCloud">

    Reveal.addEventListener('fragmentshown', function (event) {
        updatejqCloud(event);
    });

    Reveal.addEventListener('fragmenthidden', function (event) {
        updatejqCloud(event, true);
    });

    //init jqcloud for slide with words
    Reveal.addEventListener('jqCloudInit', function () {
        initJQCloud();
    });

    //for some reason reveal doesn`t fire jqCloudInit when we open not from beginning
    Reveal.addEventListener('ready', function (event) {
        if (event.currentSlide.dataset.state === 'jqCloudInit') {
            initJQCloud();
        }
    });

    function updatejqCloud(event, isRemoving) {
        var container = $('#words');
        if (event.fragment.dataset.words && container.length) {
            var words = JSON.parse(event.fragment.dataset.words);

            if (words && words.length) {
                if (event.fragment.dataset.last && !isRemoving) {
                    //more brackets!!!
                    for (var i = 0; i < 10; i++) {
                        words.push({text: "{{}}", weight: 5});
                        words.push({text: "[]", weight: 4});
                        words.push({text: "()", weight: 5});
                        words.push({text: "{{::}}", weight: 3});
                    }
                }
                container.jQCloud('update', words);
            }
        }
    }

    function initJQCloud() {
        var container = $('#words');
        if (container.length) {
            container.jQCloud('destroy');
            container.jQCloud([], {
                colors: ["#FFFFFF", "#F3F3F3", "#E7E7E7", "#DBDBDB", "#CFCFCF", "#C3C3C3", "#B7B7B7", "#ABABAB", "#9F9F9F"],
                fontSize: {
                    from: 0.1,
                    to: 0.05
                }
            });
        }
    }

    //</editor-fold>

</script>

</body>
</html>
